@media (max-width: 1440px) {
  .main_flex {
    display: flex;
    justify-content: space-around;
  }

  .photo_of_bran {
    margin-top: 200px;
  }

  .look_up {
    font-size: 18px;
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  .footer_nav_link {
    font-size: 18px;
  }

  .footer_txt_end {
    font-size: 22px;
  }
}

@media (max-width: 1366px) {
  .nav_link {
    font-size: 14px;
  }

  .nav_img {
    transform: scale(0.9);
  }

  .nav_link_none {
    display: none;
  }

  .nav_link_icon {
    display: block;
    color: white;
  }

  .nav_link_icon:hover {
    color: #FD9904;
  }

  .icon_star {
    display: none;
  }

  .model_lamba {
    margin-top: 30%;
    margin-left: 50%;
  }

  .main_logo {
    transform: scale(0.8);
  }

  .lamborghini_title {
    font-size: 30px;
  }

  .lamba_ad {
    font-size: 24px;
    text-align: center;
  }

  .find_diler {
    font-size: 60px;
  }

  .fab {
    display: none;
  }

  .diler_employee {
    font-size: 32px;
  }

  .config {
    font-size: 20px;
  }

  .made_you {
    font-size: 40px;
  }
}

@media (max-width: 1320px) {
  .photo_of_brand {
    width: 800px;
  }

  .about_product {
    width: 100%;
    max-width: 600px;
    margin-top: -300px;
  }

  .lamba_book {
    width: 100%;
    max-width: 1100px;
    margin-top: 100px;
    height: 600px;
  }

  .history_of_car {
    width: 100%;
    max-width: 500px;
    font-size: 31px;
  }

  .footer_nav_link {
    font-size: 16px;
    font-weight: 500;
  }

  .nav_img {
    transform: scale(0.7);
    background: none;
  }

  .footer_txt_end {
    font-size: 18px;
  }
}

@media (max-width: 1290px) {
  .name_of_brand {
    font-size: 60px;
  }

  .about_product {
    width: 100%;
    max-width: 550px;
    height: 300px;
  }

  .made_yours {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .config {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1140px) {
  .nav_link {
    font-size: 12px;
  }

  .true_story {
    height: 500px;
  }

  .diler_in_your_country {
    height: 500px;
  }

  .about_story {
    font-size: 60px;
  }

  .huracan {
    font-size: 35px;
  }
}

@media (max-width: 1024px) {
  .footer_nav_link {
    font-size: 13px;
    font-weight: 600;
  }

  .true_story {
    height: 500px;
  }

  .diler_in_your_country {
    height: 500px;
  }

  .footer_txt_end {
    font-size: 16px;
  }

  .lamba_book {
    height: 500px;
    width: 100%;
    max-width: 1000px;
  }

  .history_of_car {
    font-size: 28px;
  }

  .footer_txt_part {
    margin-top: 100px;
    justify-content: space-around;
  }

  .lamborghini_title {
    font-size: 25px;
  }

  .main_logo {
    transform: scale(0.7);
  }

  .left_nav {
    column-gap: 15px;
  }

  .right_nav {
    column-gap: 15px;
  }
}

/* @media (max-width: 992px) {} */

@media (max-width: 768px) {
  .right_nav {
    display: none;
  }

  .true_story {
    height: 500px;
  }

  .diler_in_your_country {
    height: 500px;
  }

  .left_nav {
    display: none;
  }

  .nav_menu {
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line_menu {
    width: 100%;
    height: 2px;
    background: white;
    position: relative;
  }

  .line_menu::before,
  .line_menu::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    top: -10px;
    transition: .5s;
  }

  .line_menu::after {
    top: 10px;
  }

  .line_menu:hover {
    background: none;
  }

  .line_menu:hover::before {
    transform: rotate(45deg);
    margin-top: 10px;
  }

  .line_menu:hover::after {
    transform: rotate(-45deg);
    margin-top: -10px;
  }

  .photo_of_brand {
    width: 600px;
    margin-top: 200px;
  }

  .about_product {
    height: 250px;
    margin-left: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .diler_employee {
    font-size: 28px;
  }

  .find_diler {
    font-size: 55px;
  }

  .lamba_book {
    height: 400px;
  }

  .look_up {
    font-size: 12px;
    font-weight: 400;
  }

  .history_of_car {
    font-size: 23px;
  }

  .look_At {
    padding: 20px 40px;
  }

  .look_up {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 20px;
    width: 160px;
  }

  .footer_nav_link {
    font-size: 10px;
  }

  .footer_txt_end {
    font-size: 12px;
  }

  .diler_employee {
    font-size: 24px;
    margin-top: 100px;
    color: black;
  }

  .find_diler {
    color: black;
    font-size: 40px;
  }

  .icon_lamba_ad {
    max-width: 150px;
  }
}

@media (max-width: 736px) {
  .history_of_car {
    font-size: 20px;
  }

  .footer_txt_part {
    display: flex;
    justify-content: space-between;
  }

  .true_story {
    height: 500px;
  }

  .diler_in_your_country {
    height: 500px;
  }

  .look_At {
    padding: 15px 15px;
    font-size: 16px;
  }

  .footer_list {
    margin-top: 100px;
  }
}

/* @media (max-width: 734px) {} */

@media (max-width: 684px) {
  .footer_nav_link {
    font-size: 8px;
    transition: .5s;
  }

  .footer_nav_link:hover {
    transform: scale(1.4);
  }

  .history_of_car {
    font-size: 18px;
  }

  .lamba_book {
    height: 350px;
  }

  .about_story {
    font-size: 50px;
  }

  .huracan {
    font-size: 25px;
  }

  .true_story {
    height: 500px;
  }

  .diler_in_your_country {
    height: 500px;
  }
}

@media (max-width: 667px) {
  .lamba_book {
    height: 300px;

  }

  .history_of_car {
    font-size: 14px;
  }

  .look_up {
    font-size: 12px;
    padding: 10px 10px;
    margin-top: -10px;
  }
}

/* @media (max-width: 576px) {} */
/* @media (max-width: 414px) {} */
/* @media (max-width: 412px) {} */
/* @media (max-width: 375px) {} */
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */